:root {
    --cor-principal: #BD3832;
    --borda-padrao: 1px solid rgba(0, 0, 0, 0.07)
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

html,
body {
    height: 100vh;
    margin: 0;
}

section .container {
    margin: 0 auto;
    display: flex;
}

.destaque {
    text-align: center;
}

.destaque h1 {
    font-weight: bold;
    font-size: 35px !important;
}

.destaque p {
    text-align: center;
    font-size: 20px;
    color: rgb(75 85 99);
    width: 50%;
    margin: 10px auto;
}

.formulario {
    border: var(--borda-padrao);
    padding: 24px;
    border-radius: 8px;
}

.btn {
    text-decoration: none;
    margin: 10px auto;
    padding: 10px;
    background-color: black;
    color: white;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    font-size: large;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border: none;
}

.btn:hover {
    transform: scale(1.03);
    background-color: var(--cor-principal);
}

.campo,
.campo-radio {
    margin-top: 24px;
}

.campo label,
.campo-radio+label {
    display: block;
}

.campo input,
.campo select,
.campo textarea {
    width: 100%;
    border-radius: 10px;
    border: var(--borda-padrao);
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    font-size: medium;
    background-color: #f8f9fa;
}

.campo input,
.campo select {
    height: 40px;
}

.campo textarea {
    min-height: 100px;
    margin-bottom: 20px;
    font-size: larger;
}


@media screen and (max-width:768px) {
    .destaque p {
        font-size: 18px;
    }
}