body {
    background-color: #f8f9fa;
}

section .container {
    max-width: 60%;
    gap: 50px;
}

section .container h2 {
    margin-top: 5px;
}

.formulario,
.informacoes-contato,
.perguntas-frequentes {
    background-color: white;
}

.about,
.formulario {
    flex: 1;
}

.atendimento {
    background-color: black;
    color: white;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
}

.informacoes-contato h5,
.perguntas-frequentes h5 {
    margin: 5px;
    font-size: 16px;
}

.informacoes-contato p,
.perguntas-frequentes p {
    margin: 5px;
    font-size: 14px;
    color: grey;
}

.informacoes-contato,
.perguntas-frequentes {
    margin-bottom: 20px;
    border: var(--borda-padrao);
    padding: 20px;
    border-radius: 8px;
}

@media screen and (max-width: 1023px) {
   section .container {
        flex-direction: column;
        max-width: 90%;
    }
}