.container {
    margin: 0 auto;
    max-width: 60%;
    display: flex;
    gap: 50px;
}


.container h2 {
    margin-top: 5px;
}


.about,
.formulario {
    flex: 1;
}

.atendimento {
    background-color: black;
    color: white;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
}

.informacoes-contato h5,
.perguntas-frequentes h5 {
    margin: 5px;
    font-size: 16px;
}

.informacoes-contato p,
.perguntas-frequentes p {
    margin: 5px;
    font-size: 14px;
    color: grey;
}

.informacoes-contato,
.perguntas-frequentes {
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    padding: 20px;
    border-radius: 8px;
}

@media screen and (max-width: 1023px) {
    .container {
        flex-direction: column;
        max-width: 90%;
    }
}