footer {
    margin-top: 50px;
    background-color: black;
    padding: 20px;
    box-sizing: border-box;
}

footer .container {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    color: lightgrey;
}

footer .grid {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid white;
    padding: 5px;
}

footer .grid h5 {
    font-size: 16px;
    color: white;
}

.links {
    display: flex;
    flex-direction: column;
}

.links a {
    margin-bottom: 16px;
    text-decoration: none;
    font-weight: 500;
    color: lightgrey;

}

.grid+p {
    text-align: center;
}

.identidade-visual {
    max-width: 300px;
}

footer .grid h5.marca {
    font-size: 20px;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    footer .grid {
        gap: 10px;
    }

    footer .container {
        width: 95%;
    }
}


@media screen and (max-width:768px) {
    footer .grid {
        flex-direction: column;
    }
    
    .links a {
        margin-bottom: 8px;
    }
}