section .container {
    max-width: 70%;
}

.banner {
    padding: 50px;
    display: flex;
    justify-content: center;
    background-color: black;
    gap: 10%;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    max-width: 30%;
}

.apresentacao span {
    color: var(--cor-principal);
}

.apresentacao h1 {
    font-size: 70px;
    color: white;
}

.apresentacao p {
    font-size: 25px;
    color: white;
}

.apresentacao .btn {
    margin-inline: 0;
    width: max-content;
    background-color: white;
    color: black;
}

.ilustracao {
    display: flex;
    align-items: center;
    max-width: 25%;
}

.ilustracao img {
    display: block;
    margin-inline: auto;
    max-width: 100%;
    height: auto;
}

.atendimentos {
    background-color: #F9FAFB;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    gap: 30px;
}

.atendimentos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    text-align: center;
    border-radius: 10px;
}

.atendimentos p {
    margin-top: 0;
    font-size: 18px;
}

.newsletter {
    background-color: var(--cor-principal);
    color: white;
}

.newsletter form {
    text-align: center;
    margin: 15px auto 0;
    border: none;
    max-width: 50%;
}

.newsletter form h2 {
    font-size: 28px;
}

.aviso {
    margin-top: 20px;
    font-size: small;
}

.campo {
    display: inline-block;
    width: 70%;
}

.btn-formulario {
    display: inline-block;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: large;
    border: none;
}

footer {
    margin-top: 0;
}


@media screen and (max-width: 1023px) {
    section .container {
        max-width: 95%;
    }

    .banner {
        flex-direction: column;
    }

    .apresentacao,
    .ilustracao {
        max-width: 100%;
    }

    .atendimentos {
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .banner {
        padding: 30px;
    }

    .apresentacao h1 {
        font-size: 40px;
    }

    .apresentacao p {
        font-size: 20px;
    }

    .atendimentos p {
        font-size: 18px;
    }

    .aviso {
        font-size: x-small;
    }

    .newsletter form {
        max-width: 80%;
    }
}