body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.apresentacao {
    background-color: black;
    color: white;
}

.informacoes {
    background-color: #f9fafb;
}

section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    justify-content: space-between;
}

.cards {
    display: flex;
    gap: 30px;
}

section .container h1,
section .container h2 {
    font-size: 40px;
}

section .container h3 {
    font-size: 25px;
}


section .container p {
    align-items: center;
    gap: 5px;
    display: flex;
    font-size: 25px;
}

.logo {
    width: 500px;
    height: auto;
}


.btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--cor-principal);
    color: black;
    width: max-content;
    text-decoration: none;
}

.btn:hover {
    transform: scale(1.03);
}


.card {
    box-sizing: border-box;
    background-color: #f9fafb;
    border: var(--borda-padrao);
    width: max-content;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 20px;
    margin: auto;
    flex-wrap: wrap;
}

.card p {
    font-weight: bold;
    color: var(--cor-principal);
    font-size: 20px;
}

footer {
    padding: 20px;
    margin: 0;
    background-color: black;
}

footer p {
    text-align: center;
    margin: 0;
    font-size: 20px;
    color: white;
}

@media screen and (max-width: 1023px) {
    .cards {
        flex-direction: column;
    }

    .card {
        width: 95%;
    }
}

@media screen and (max-width: 769px) {
    .logo {
        width: 300px;
    }

    section .container h1,
    section .container h2 {
        font-size: 30px;
    }

    section .container h3 {
        font-size: 20px;
    }

    section .container p {
        text-align: justify;
        font-size: 25px;
    }

    footer p {
        font-size: 15px;
    }
}