.container {
  display: grid;
  margin: 0 auto;
  max-width: 1400px;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.card-noticia {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 15px;
  text-align: justify;
  height: auto;
  width: 670px;
  box-sizing: border-box;
}

.card-noticia:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.card-noticia img {
  height: 350px;
  width: auto;
  object-fit: cover;
  border: none;
}

.card-body {
  padding: 24px;
}

.card-noticia h3 {
  font-size: 22px;
  margin-top: 10px;
}

.card-noticia p {
  margin-top: 25px;
}

.principal {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  width: 1380px;
  height: 680px;
}

.principal img {
  height: 100%;
}

.card-body .badge-categoria {
  display: inline-block;
  padding: 2px 12px;
  background: #f5f5f5;
  border-radius: 25px;
  font-weight: 600;
  color: #333;
  text-decoration: none;
}

.card-body a {
  display: flex;
  margin-left: auto;
  gap: 15px;
  width: max-content;
  color: black;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  text-decoration: none;
  align-items: center;
}

.card-body a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.card-body a .icone {
  width: 16px;
  height: 16px;
}